@import '../../index.scss';

.comment {
   @include adaptiv-value('padding-top', 100, 70, 0);
   @include adaptiv-value('padding-bottom', 90, 25, 0);

   &__sent {
      background-color: #191E2E;
      @include adaptiv-value('padding', 50, 20, 0);
      border-radius: 10px;
   }

   &__header {
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 25, 20, 0);
      @include adaptiv-value('padding-bottom', 40, 15, 0);
   }

   &__name {
      @include adaptiv-value('font-size', 30, 20, 0);
      font-weight: 700;
      padding-bottom: 10px;
   }

   &__link {
      color: #FFF;
      @include adaptiv-value('font-size', 18, 14, 0);
      font-weight: 500;
   }

   &__sent-photo {
      @include adaptiv-value('width', 115, 85, 0);
      @include adaptiv-value('height', 115, 85, 0);
      border-radius: 50%;
   }

   &__img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      border-radius: 50%;
   }

   &__write {
      border-radius: 10px;
      background: #1E2538;
      width: 100%;
      resize: none;
      @include adaptiv-value('padding-top', 20, 15, 0);
      @include adaptiv-value('padding-left', 25, 15, 0);
      color: #FFF;
      @include adaptiv-value('font-size', 20, 14, 0);
      font-weight: 400;
   }

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__get-comment {
      @include adaptiv-value('margin-top', 40, 10, 0);
      background-color: #F2F60F;
      @include adaptiv-value('padding-top', 20, 15, 0);
      @include adaptiv-value('padding-bottom', 20, 15, 0);
      padding-left: 36px;
      padding-right: 36px;
      border-radius: 10px;
      color: #151A26;
      @include adaptiv-value('font-size', 18, 15, 0);
      font-weight: 700;
   }
}

.comment-done {
   display: grid;
   grid-template-areas:
      'image conten grade'
      'image wtext grade';
   align-items: center;
   grid-template-columns: 1fr 8fr 1fr;
   @include adaptiv-value('column-gap', 25, 10, 0);
   border-radius: 10px;
   background: #191E2E;
   @include adaptiv-value('padding', 45, 20, 0);
   @include adaptiv-value('margin-top', 40, 10, 0);

   &__image-wrapper {
      @include adaptiv-value('width', 115, 85, 0);
      @include adaptiv-value('height', 115, 85, 0);
      border-radius: 50%;
      flex-shrink: 0;
      grid-area: image;
   }

   &__image {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      border-radius: 50%;
   }

   &__content {
      grid-area: conten;
      @include adaptiv-value('gap', 25, 5, 0);
   }

   &__text-wrapper {
      grid-area: wtext;
   }

   &__content-header {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   @media (max-width:$tablet) {
      &__content-header {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 5px;
      }

   }

   &__name {
      @include adaptiv-value('font-size', 30, 20, 0);
      font-weight: 700;
   }

   &__date {
      color: #CBCBCB;
      @include adaptiv-value('font-size', 15, 13, 0);
      font-weight: 500;
   }

   &__text {
      @include adaptiv-value('font-size', 20, 15, 0);
      font-weight: 400;
   }

   &__grade-wrapper {
      grid-area: grade;
      display: flex;
      align-items: center;
      gap: 8px;
   }

   &__grade {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
   }

   @media (max-width:$tablet) {
      &__grade-wrapper {
         flex-direction: column;
      }

      &__grade {
         flex-direction: row;
      }
   }

   &__like,
   &__dislike {
      position: relative;
      @include adaptiv-value('width', 59, 35, 0);
      @include adaptiv-value('height', 59, 35, 0);
      border-radius: 10px;
      background: #1B2133;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   &__like:hover,
   &__dislike:hover {
      background: #313a55;
   }

   &__like::before {
      content: '';
      position: absolute;
      background: url('../../img/page-person/like.svg')no-repeat center center /cover;
      @include adaptiv-value('width', 26, 16, 0);
      @include adaptiv-value('height', 26, 16, 0);
   }

   &__dislike::before {
      content: '';
      position: absolute;
      background: url('../../img/page-person/dislike.svg')no-repeat center center /cover;
      @include adaptiv-value('width', 26, 16, 0);
      @include adaptiv-value('height', 26, 16, 0);
   }

   &__count {
      @include adaptiv-value('font-size', 15, 12, 0);
      font-weight: 400;
   }
}

@media (max-width:$tablet) {
   .comment-done {
      grid-template-areas:
         'image conten grade'
         'wtext wtext wtext';
      align-items: center;
      row-gap: 25px;
   }
}