.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   color: #717171;
   padding-bottom: 30px;

   .title {
      font-size: 18px;
   }

   .select {
      border-bottom: 2px solid #717171;
      background: transparent;
      padding: 5px;
   }

   .control {
      display: flex;

      gap: 40px;

      .left {
         cursor: pointer;
         user-select: none;
      }

      .right {
         cursor: pointer;
         user-select: none;
      }
   }
}