@import '../../index.scss';

.news {
   @include adaptiv-value('padding-top', 70, 35, 0);
   @include adaptiv-value('padding-bottom', 80, 15, 0);

   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiv-value('padding-bottom', 50, 20, 0);
   }

   &__link {
      @include adaptiv-value('font-size', 22, 18, 0);
      font-weight: 700;
      color: #FFF;
      position: relative;
      right: 48px;
   }

   &__link::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -48px;
      transform: translateY(-50%);
      width: 28px;
      height: 15px;
      background-image: url('../../img/news/arrow.svg');
      background-repeat: no-repeat;
   }

   &__block-wrapper {
      display: flex;
      gap: 15px;
      height: 772px;
   }

   @media (max-width:$laptop) {
      &__block-wrapper {
         display: flex;
         flex-direction: column;
         height: auto;
      }
   }

   &__main {
      position: relative;
   }

   &__infa {
      position: absolute;
      @include adaptiv-value('bottom', 50, 30, 0);
      @include adaptiv-value('left', 32, 20, 0);
   }

   &__main-title {
      @include adaptiv-value('font-size', 45, 20, 0);
      font-weight: 900;
      @include adaptiv-value('padding-bottom', 25, 0, 0);
   }

   &__main-text {
      @include adaptiv-value('font-size', 20, 16, 0);
      font-weight: 500;
      line-height: 1.4;
      max-width: 900px;
   }

   @media (max-width:$tablet) {
      &__main-text {
         display: none;
      }
   }

   &__main-image {
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 10px;
   }

   &__header {
      position: absolute;
      @include adaptiv-value('top', 40, 30, 0);
      @include adaptiv-value('left', 30, 20, 0);
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 40, 20, 0);
   }

   &__header-date,
   &__header-views,
   &__header-commnents {
      @include adaptiv-value('font-size', 15, 12, 0);
      font-weight: 700;
      position: relative;
   }

   &__header-views::before {
      content: '';
      position: absolute;
      @include adaptiv-value('left', -30, -15, 0);
      top: 50%;
      transform: translateY(-50%);
      @include adaptiv-value('width', 22, 16, 0);
      @include adaptiv-value('height', 22, 16, 0);
      background-image: url('../../img/news/eye.svg');
      background-repeat: no-repeat;
      background-size: cover;
   }

   &__header-commnents::before {
      content: '';
      position: absolute;
      @include adaptiv-value('left', -25, -12, 0);
      top: 50%;
      transform: translateY(-50%);
      background: url('../../img/news/comment.svg') no-repeat center center / cover;
      @include adaptiv-value('width', 16, 12, 0);
      @include adaptiv-value('height', 16, 12, 0);
   }

   &__small-bloks-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 13px;
      max-width: 255px;
   }

   &__small-block {
      height: 100%;
      position: relative;
   }

   @media (max-width:$laptop) {
      &__small-bloks-wrapper {
         display: flex;
         flex-direction: row;
         max-width: none;
      }

      &__small-block {
         @include adaptiv-value('height', 183, 130, 0);
      }
   }


   @media (max-width:$tablet) {
      &__small-block:nth-child(n+4) {
         display: none;
      }
   }

   @media (max-width:500px) {
      &__small-block:nth-child(n+3) {
         display: none;
      }
   }

   &__small-date {
      position: absolute;
      @include adaptiv-value('top', 15, 10, 0);
      @include adaptiv-value('left', 18, 10, 0);
      @include adaptiv-value('font-size', 18, 12, 0);
      font-weight: 700;
   }

   &__small-title {
      @include adaptiv-value('font-size', 18, 13, 0);
      font-weight: 900;
      position: absolute;
      @include adaptiv-value('bottom', 20, 15, 0);
      @include adaptiv-value('left', 18, 15, 0);
   }

   &__small-img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
   }
}