@import "../../adaptiv.module.scss";

.login {
  //form for enter in account
  .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #12151f;
  }

  .buttonModel {
    cursor: pointer;
    @include adaptiv-value("font-size", 16, 11, 0);
    font-weight: 700;
    @include adaptiv-value("width", 138, 66, 0);
    @include adaptiv-value("height", 53, 27, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-value("  border-radius", 10, 5, 0);
    background: #3657cb;
    box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
    color: white;
  }
}
.logIn {
  position: relative;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
  }

  .header::before {
    content: "";
    background: url("../../../../public/img/header/arrow.svg") no-repeat center
      center / cover;
    width: 8px;
    height: 5px;
    transform: rotate(180deg);
  }

  .headerArrow::before {
    content: "";
    background: url("../../../../public/img/header/arrow.svg") no-repeat center
      center / cover;
    width: 8px;
    height: 5px;
    transform: rotate(0deg);
  }

  .photoWrapper {
    width: 52px;
    height: 52px;
    position: relative;
  }

  .photoWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../../../public/img/header/cicle.svg") no-repeat center
      center / cover;
    width: 11px;
    height: 11px;
  }

  .photo {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .menu {
    position: absolute;
    width: 134px;
    height: 143px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #191e2e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .link {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  .link:hover {
    text-decoration: underline;
  }

  .item:last-child .link {
    color: #657199;
    font-size: 13px;
    font-weight: 500;
  }
}

//login restore form one
.backgroundRestore {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #12151f;
}

.restoreBlock {
  max-width: 815px;
  width: 100%;
  height: 405px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #191e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: open-restore 0.5s;
}

@keyframes open-restore {
  from {
    transform: translate(-50%, -100%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

.restoreBlock::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../../public/img/header/header_logo.png");
  background-position: center;
  background-size: cover;
  width: 125px;
  height: 45px;
}

.restoreClose {
  position: absolute;
  right: 24px;
  top: 21px;
  background-image: url("../../../../public/img/header/close.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.restoreTitle {
  @include adaptiv-value("font-size", 40, 20, 0);
  font-weight: 800;
  padding-top: 41px;
  padding-bottom: 34px;
}

.restoreForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 53%;
}

@media (max-width: $tablet) {
  .restore-form {
    width: 80%;
  }
}

.restoreInput {
  border-radius: 10px;
  background: #1e2538;
  color: rgba(255, 255, 255, 0.6);
  @include adaptiv-value("font-size", 17, 14, 0);
  font-weight: 400;
  height: 67px;
  padding-left: 26px;
}

.sendGetWrapper {
  display: flex;
  @include adaptiv-value("gap", 13, 5, 0);
}

.send {
  flex: 1 1 50%;
  height: 67px;
  border-radius: 10px;
  background: #3657cb;
  text-align: center;
  @include adaptiv-value("font-size", 17, 14, 0);
  font-weight: 600;
  color: #fff;
}

.get {
  flex: 1 1 50%;
  border-radius: 10px;
  background: #1e2538;
  color: rgba(255, 255, 255, 0.6);
  @include adaptiv-value("font-size", 17, 14, 0);
  font-weight: 400;
  height: 67px;
  text-align: center;
}

.continue {
  margin-top: 4px;
  border-radius: 10px;
  background: #f2f60f;
  height: 55px;
  color: #151a26;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

//login form for restore two, after continue
.backgroundRestoreTwo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #12151f;
}

.restoreBlockTwo {
  max-width: 815px;
  width: 100%;
  height: 405px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #191e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: open-restore 0.5s;
}

.restoreBlockTwo::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../../public/img/header/header_logo.png");
  background-position: center;
  background-size: cover;
  width: 125px;
  height: 45px;
}

.restoreCloseTwo {
  position: absolute;
  right: 24px;
  top: 21px;
  background-image: url("../../../../public/img/header/close.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.restoreFormTwo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 53%;
}

@media (max-width: $tablet) {
  .restoreFormTwo {
    width: 80%;
  }
}

.newPassword {
  height: 67px;
  border-radius: 10px;
  background: #1e2538;
  color: rgba(255, 255, 255, 0.6);
  @include adaptiv-value("font-size", 17, 14, 0);
  font-weight: 400;
  padding-left: 26px;
}

.done {
  height: 55px;
  border-radius: 10px;
  background: #f2f60f;
  color: #151a26;
  @include adaptiv-value("font-size", 17, 14, 0);
  font-weight: 600;
}
