@import '../../adaptiv.module.scss';

.logIn {
   position: relative;

   .header {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      user-select: none;
   }

   .header::before {
      content: '';
      background: url('../../../../public/img/header/arrow.svg') no-repeat center center /cover;
      width: 8px;
      height: 5px;
      transform: rotate(180deg);
   }

   .headerArrow::before {
      content: '';
      background: url('../../../../public/img/header/arrow.svg') no-repeat center center /cover;
      width: 8px;
      height: 5px;
      transform: rotate(0deg);
   }

   .photoWrapper {
      width: 52px;
      height: 52px;
      position: relative;
   }

   .photoWrapper::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: url('../../../../public/img/header/cicle.svg') no-repeat center center /cover;
      width: 11px;
      height: 11px;
   }

   .photo {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
   }

   .menu {
      position: absolute;
      width: 134px;
      height: 143px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .list {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }

   .link {
      color: #FFF;
      font-size: 13px;
      font-weight: 400;
   }

   .link:hover {
      text-decoration: underline;
   }

   .item:last-child .link {
      color: #657199;
      font-size: 13px;
      font-weight: 500;
   }
}

.login {

   //form for enter in account
   .background {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   .buttonModel {
      cursor: pointer;
      @include adaptiv-value('font-size', 16, 11, 0);
      font-weight: 700;
      @include adaptiv-value('width', 138, 66, 0);
      @include adaptiv-value('height', 53, 27, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('  border-radius', 10, 5, 0);
      background: #3657CB;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
      color: white;
   }


   .model {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 30%);
      height: 562px;
      max-width: 815px;
      width: 100%;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-model 0.5s;
   }

   @keyframes open-model {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 30%);
      }
   }

   .close {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../../public/img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   .model::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../../public/img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   .loginFormWrapper {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 50%;
   }

   @media (max-width:$tablet) {
      .login-form-wrapper {
         width: 70%;
      }
   }

   .formTitle {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      text-align: center;
      padding-top: 41px;
      padding-bottom: 30px;
   }

   .formLogin {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 25px;
   }

   .formPassword {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 25px;
   }

   .formEnter {
      border-radius: 10px;
      background: #F2F60F;
      color: #151A26;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      height: 55px;
      margin-top: 4px;
   }

   .formRegistration {
      border-radius: 10px;
      background: #1E2538;
      color: #FFF;
      font-size: 17px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      cursor: pointer;
   }

   .restore {
      color: #3657CB;
      text-align: center;
      font-size: 17px;
      font-weight: 500;
      text-decoration-line: underline;
      margin-top: 16px;
      cursor: pointer;
   }

   .socials {
      display: flex;
      gap: 8px;
      margin-top: 20px;
   }

   .socialItem {
      width: 41px;
      height: 41px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #1E2538;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
         fill: #FFF;
         width: 50%;
         height: 50%;
      }
   }

   .socialItem:hover {
      background: #3657CB;
   }

   //form for registration users

   .backgroundRegistration {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   .registration {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 5%);
      height: 835px;
      max-width: 815px;
      width: 100%;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-rigistration 0.5s;
   }

   .registration::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../../public/img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   @keyframes open-rigistration {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 5%);
      }
   }

   .registrationClose {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../../public/img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   .registrationTitle {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      padding-top: 41px;
      padding-bottom: 34px;
   }

   .formRegistrationWrapper {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 50%;
   }


   .registrationInput {
      border-radius: 10px;
      background-color: #1E2538;
      height: 67px;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      padding-left: 26px;
   }

   @media (max-width:$tablet) {
      .formRegistrationWrapper {
         width: 70%;
      }

      .registrationInput {
         height: 47px;
      }
   }

   .checkboxWrapper {
      display: flex;
      flex-direction: column;
      gap: 19px;
      position: relative;
   }

   .checkbox_1,
   .checkbox_2 {
      --webkit-appearance: none;
      appearance: none;
      position: absolute;

   }

   .checkboxLabel_1,
   .checkboxLabel_2 {
      font-size: 15px;
      font-weight: 400;
      padding-left: 25px;
   }

   .checkboxLabel_1::before,
   .checkboxLabel_2::before {
      content: '';
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      border-radius: 2px;
      border: 1px solid #F2F60F;
      background: #F2F60F;
      position: absolute;
      left: 0;
      z-index: 1;
   }

   .checkboxLabel_1::before {
      top: 0;
   }

   .checkboxLabel_2::before {
      bottom: 0;
   }

   .checkboxLabel_1::after,
   .checkboxLabel_2::after {
      content: '';
      background-image: url('../../../../public/img/header/check.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 10px;
      height: 9px;
      flex-shrink: 0;
      stroke-width: 2px;
      stroke: #151A26;
      z-index: 2;
      position: absolute;
      left: 3px;
      opacity: 0;
   }

   .checkboxLabel_1::after {
      top: 3px;
   }

   .checkboxLabel_2::after {
      bottom: 3px;
   }

   #ckeckbox_1:checked+.checkboxLabel_1::after {
      opacity: 1;
   }

   #ckeckbox_2:checked+.checkboxLabel_2::after {
      opacity: 1;
   }


   .checkboxLink {
      color: #F2F60F;
      font-size: 15px;
      font-weight: 400;
      text-decoration-line: underline;
   }

   .sent {
      border-radius: 10px;
      background: #F2F60F;
      height: 55px;
      color: #151A26;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
   }

   //login restore form one
   .backgroundRestore {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   .restoreBlock {
      max-width: 815px;
      width: 100%;
      height: 405px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-restore 0.5s;
   }

   @keyframes open-restore {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 50%);
      }
   }

   .restoreBlock::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../../public/img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   .restoreClose {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../../public/img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   .restoreTitle {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      padding-top: 41px;
      padding-bottom: 34px;
   }

   .restoreForm {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 53%;
   }

   @media (max-width:$tablet) {
      .restore-form {
         width: 80%;
      }
   }

   .restoreInput {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 26px;
   }

   .sendGetWrapper {
      display: flex;
      @include adaptiv-value('gap', 13, 5, 0);
   }

   .send {
      flex: 1 1 50%;
      height: 67px;
      border-radius: 10px;
      background: #3657CB;
      text-align: center;
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 600;
      color: #FFF;
   }

   .get {
      flex: 1 1 50%;
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      text-align: center;
   }

   .continue {
      margin-top: 4px;
      border-radius: 10px;
      background: #F2F60F;
      height: 55px;
      color: #151A26;
      font-size: 17px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   //login form for restore two, after continue
   .backgroundRestoreTwo {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   .restoreBlockTwo {
      max-width: 815px;
      width: 100%;
      height: 405px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-restore 0.5s;
   }

   .restoreBlockTwo::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../../public/img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   .restoreCloseTwo {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../../public/img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   .restoreFormTwo {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 53%;
   }

   @media (max-width:$tablet) {
      .restoreFormTwo {
         width: 80%;
      }
   }

   .newPassword {
      height: 67px;
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      padding-left: 26px;
   }

   .done {
      height: 55px;
      border-radius: 10px;
      background: #F2F60F;
      color: #151A26;
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 600;
   }
}