@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-SemiBold.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-Bold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Qanelas';
   src: url('../src/fonts/Qanelas-ExtraBold.woff2') format('woff2');
   font-weight: 800;
   font-style: normal;
}