.bread-crumbs {
   padding-top: 15px;
   padding-bottom: 15px;

   &__list {
      display: flex;
      gap: 30px;
   }

   &__link {
      color: #4F5B7C;
      font-size: 16px;
      font-weight: 500;
      position: relative;
   }

   &__list &__item:not(:last-child) &__link::before {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../../img/library/arrow.svg') no-repeat center center / cover;
      width: 6px;
      height: 9px;
   }

   &__list &__item:last-child &__link {
      color: #FFF;
   }
}