@import '../adaptiv.module.scss';

.person {}

.container {
   max-width: 1430px;
   margin: 0px auto;
   padding: 0px 15px;
}

.filterList {
   display: flex;
   flex-wrap: wrap;
   row-gap: 5px;
   @include adaptiv-value('column-gap', 30, 15, 0);
   list-style: none;
}

.section_filter {
   color: rgba(255, 255, 255, 0.35);
   @include adaptiv-value('font-size', 18, 15, 0);
   font-weight: 700;
   cursor: pointer;
}

.filter_pick {
   color: #FFF;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include adaptiv-value('padding-bottom', 60, 20, 0);
}

@media (max-width:$tablet) {
   .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
   }

   .filter {
      display: flex;
   }
}

.content {
   display: grid;
   grid-template-columns: repeat(3, minmax(179px, 444px));
   @include adaptiv-value('gap', 22, 10, 0);
   justify-content: space-between;
}

.rest {
   max-width: 444px;
   max-height: 444px;
   width: 100%;
   border-radius: 10px;
   background: #1B2133;
   @include adaptiv-value('padding-left', 30, 15, 0);
   @include adaptiv-value('padding-right', 30, 15, 0);
   display: grid;
}

@media (max-width:$tablet) {
   .content {
      grid-template-columns: repeat(2, minmax(139px, 444px));
      //grid-template-rows: repeat(2, minmax(179px, 321px));
   }

   .rest {
      display: grid;
      grid-column: span 2;
      max-width: none;
   }

}

.restInf {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.restBlock {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #1E2538;
   @include adaptiv-value('padding-top', 20, 7, 0);
   @include adaptiv-value('padding-bottom', 20, 7, 0);
}

.restName {
   @include adaptiv-value('font-size', 20, 15, 0);
   font-size: 20px;
   font-weight: 700;
}

.restSurname {
   color: #3B486B;
   @include adaptiv-value('font-size', 15, 11, 0);
   font-weight: 600;
}

.restAge {
   color: #F2F60F;
   @include adaptiv-value('font-size', 14, 11, 0);
   font-weight: 400;
}

.restPlace {
   color: #F2F60F;
   font-size: 15px;
   font-weight: 600;
}


.personBlock {
   max-width: 444px;
   max-height: 444px;
   position: relative;
   border-radius: 10px;
   width: 100%;

   .background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      border-radius: 10px;
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 55.56%);
   }

   .infa {
      position: absolute;
      z-index: 2;
      @include adaptiv-value('left', 36, 13, 0);
      @include adaptiv-value('bottom', 36, 13, 0);
      display: flex;
      flex-direction: column;
      gap: 5px;
   }

   .place {
      position: absolute;
      @include adaptiv-value('left', 15, 5, 0);
      @include adaptiv-value('top', 15, 5, 0);
      color: #F2F60F;
      @include adaptiv-value('font-size', 15, 12, 0);
      font-weight: 500;
      line-height: 20px;
   }

   .firstName {
      @include adaptiv-value('font-size', 27, 15, 0);
      font-weight: 700;
   }

   .secondName {
      color: rgba(255, 255, 255, 0.35);
      @include adaptiv-value('font-size', 20, 11, 0);
      font-weight: 600;
   }

   .age {
      color: #F2F60F;
      @include adaptiv-value('font-size', 15, 10, 0);
      font-weight: 500;
      line-height: 20px;
   }

   .image {
      max-width: 100%;
      max-height: 444px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 20%;
      border-radius: 10px;
   }
}

@media (max-width:$tablet) {

   .personBlock {
      max-height: 321px;
   }
}