@import '../../../ui/adaptiv.module.scss';


.posterHover {
   position: relative;

   .background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: rgba(54, 87, 203, 0.65);
      transition: all 0.2s ease-in-out;
      opacity: 0;
   }

   .background:hover {
      opacity: 1;
   }

   .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 224px;
      width: 100%;
      height: 71px;
      border-radius: 10px;
      background: #FFF;
      box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
      color: #3657CB;
      @include adaptiv-value('font-size', 18, 14, 0);
      font-weight: 700;
      cursor: pointer;
   }
}

.filmPoster {
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
   position: relative;
   max-width: 344px;

   .posterWrapper {
      max-height: 465px;
      height: 100%;
   }

   .poster {
      max-width: 100%;
      width: 100%;
      max-height: 465px;
      height: 100%;
      object-fit: cover;
      order: 0;
      border-radius: 10px;
      min-height: 245px;
   }

   .name {
      @include adaptiv-value('font-size', 18, 15, 0);
      font-weight: 700;
      order: 1;
      padding-top: 5px;
   }

   .genre {
      color: #F2F60F;
      @include adaptiv-value('font-size', 15, 12, 0);
      font-weight: 400;
      order: 2
   }

   .rating {
      @include adaptiv-value('width', 62.2, 38.7, 0);
      @include adaptiv-value('height', 33.2, 21.1, 0);
      @include adaptiv-value('font-size', 18, 12, 0);
      font-weight: 700;
      border-radius: 5px;
      background: #4BCB36;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
   }




}