@import '../adaptiv.module.scss';

.gallery {
   .headWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 37px;
   }

   .link {
      color: #FFF;
      @include adaptiv-value('font-size', 22, 18, 0);
      font-weight: 700;
      position: relative;
      padding-right: 50px;
      cursor: pointer;
   }

   .link::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: url('../../../public/img/page-person/arrow.svg') no-repeat center center / cover;
      width: 25px;
      height: 15px;
   }

   .imagesWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      @include adaptiv-value('row-gap', 42, 30, 0);
      @include adaptiv-value('column-gap', 22, 15, 0);
   }

   @media (max-width:1000px) {
      .imagesWrapper {
         grid-template-columns: 1fr 1fr;
      }
   }

   .image {
      max-height: 463px;
      position: relative;
   }

   @media (max-width:1000px) {
      .image:nth-child(n+4) {
         display: none;
      }
   }

   .img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
   }

   .gallery_image_height {
      grid-column: span 2;
   }

   .image_hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: rgba(54, 87, 203, 0.65);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
   }

   .image_count {
      font-size: 40px;
      font-weight: 700;
   }

   .swiperBackground {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-color: rgb(114, 103, 90);
      overflow: hidden;

      .swiper {
         position: fixed;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         z-index: 22;
         width: 70%;
         height: 70%;


         .big {
            display: flex;
         }

         .bigPhoto {
            // height: 70%;
            // width: 70%;
         }

         .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
         }

         .small {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            height: 300px;
         }

         .smallPhoto {
            width: 30%;
            height: 100%;
         }
      }
   }

   .swiperBackground {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-color: rgb(75, 67, 59);
      overflow: hidden;
      opacity: 0.8;
   }

   .swip {
      position: fixed;
      z-index: 22;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 80%;

      swiper-container {
         width: 100%;
         height: 100%;

         swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }

   }
}