@import '../index.scss';

.authors {
   &__books-wrapper {
      @include adaptiv-value('padding-top', 40, 20, 0);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 40px;
   }

   @media (max-width:$tablet) {
      &__books-wrapper {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }

   @media (max-width:600px) {
      &__books-wrapper {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }
}