@import '../index.scss';

.page-person {
   &__container-small {
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
      display: grid;
      grid-template-areas:
         '. image header .'
         '. image infa .'
         '. image favorites .';
      @include adaptiv-value('column-gap', 50, 15, 0);
      //row-gap: 30px;
   }

   @media (max-width:$tablet) {
      &__container-small {
         grid-template-areas:
            'header'
            'image'
            'favorites'
            'infa';
      }
   }

   &__favorites {
      grid-area: favorites;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #E8E9EB;
      font-size: 14px;
      font-weight: 500;
   }

   &__favorites-button {
      @include adaptiv-value('width', 59, 53, 0);
      @include adaptiv-value('height', 59, 53, 0);
      border-radius: 10px;
      background: #1B2133;
      position: relative;
      cursor: pointer;
   }

   &__favorites-button::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url('../img/page-person/heart.svg') no-repeat center center/cover;
      @include adaptiv-value('width', 24, 21, 0);
      @include adaptiv-value('height', 24, 21, 0);
   }

   &__header-wrapper {
      grid-area: header;
      position: relative;
   }



   &__wrapper-img {
      grid-area: image;
      @include adaptiv-value('width', 395, 230, 0);
      @include adaptiv-value('height', 539, 307, 0);
   }

   &__image {
      border-radius: 10px;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
   }

   &__information-wrapper {
      grid-area: infa;
      padding-top: 30px;
   }

   &__header-title {
      @include adaptiv-value('font-size', 65, 25, 0);
      font-weight: 900;
      padding-bottom: 15px;
      @include adaptiv-value('min-width', 650, 250, 0);
   }

   &__header-subtitle {
      @include adaptiv-value('font-size', 25, 20, 0);
      font-weight: 500;
   }

   &__social {
      display: flex;
      position: absolute;
      left: 0;
      bottom: -10%;
   }

   @media (max-width:$tablet) {
      &__header-wrapper {
         padding-bottom: 30px;
      }

      &__social {
         left: 50%;
         bottom: -50%;
      }
   }


   &__social-telegram,
   &__social-twitter {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #1E2538;
      border: 1px solid #2B354E;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
         fill: rgba(255, 255, 255, 0.50);
         width: 13px;
         height: 13px;
      }
   }

   &__social-telegram:hover,
   &__social-twitter:hover {
      background-color: #2B354E;
      border: 1px solid #1E2538;

      svg {
         fill: rgba(255, 71, 71, 0.5);
         width: 13px;
         height: 13px;
      }
   }

   &__switch {
      display: flex;
      column-gap: 20px;
      padding-bottom: 17px;
   }

   &__switch-information,
   &__switch-biography {
      color: #6D717D;
      @include adaptiv-value('font-size', 19, 15, 0);
      font-weight: 600;
      cursor: pointer;
      user-select: none;

   }

   .page-person_switch_active {
      color: #FFF;
      text-decoration-line: underline;
   }

   #person-info {
      border-collapse: collapse;

      tr {}

      th {
         color: rgba(255, 255, 255, 0.80);
         @include adaptiv-value('font-size', 18, 12, 0);
         font-weight: 600;
         text-align: left;
         padding-right: 20px;
         padding-bottom: 15px;
      }

      td {
         padding-bottom: 15px;
         color: #F2F60F;
         @include adaptiv-value('font-size', 18, 12, 0);
         font-weight: 400;
         text-decoration-line: underline;

      }
   }

   .person-info-wrapper {
      display: none;
   }

   .person-info-wrapper_visible {
      display: block;
   }

   &__biography {
      display: none;

   }

   &__biography_visible {
      display: block;

   }

   &__biography-text {
      color: rgba(255, 255, 255, 0.80);
      @include adaptiv-value('font-size', 17, 13, 0);
      font-weight: 500;
      line-height: normal;

   }

   &__biography-text:not(:last-child) {
      padding-bottom: 10px;
   }
}

.award {
   padding-top: 50px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;

   &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('gap', 35, 10, 0);
      border-radius: 10px;
      background: rgba(54, 87, 203, 0.30);
      @include adaptiv-value('padding', 25, 10, 0);
   }

   &__img-wrapper {
      flex: 0 0 30%;
   }

   &__img {
      min-width: 43px;
      max-width: 68px;
      min-height: 119px;
      object-fit: cover;
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: 7px;
      flex: 1 1 65%;
   }

   &__title {
      font-size: 18px;
      font-weight: 600;
      white-space: nowrap;
   }

   &__text {
      color: #F2F60F;
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
   }

   &__year {
      color: rgba(255, 255, 255, 0.70);
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
   }
}

@media (max-width:$laptop) {
   .award {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;

      &__img-wrapper {
         display: flex;
         justify-content: center;
      }

      &__img {
         max-width: 100px;
      }
   }
}

@media (max-width:$tablet) {
   .award {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);

      &__img-wrapper {
         display: flex;
         justify-content: center;
      }

      &__img {
         max-width: 80px;
      }
   }
}