@import '../adaptiv.module.scss';



.education {
   background: #151A26;
   @include adaptiv-value('padding-top', 60, 20, 0);
}

.container {
   max-width: 1430px;
   margin: 0px auto;
   padding: 0px 15px;
}

.title {
   @include adaptiv-value('padding-bottom', 70, 20, 0);
}