@import '../ui/adaptiv.module.scss';

a,
a:visited {
  text-decoration: none;
}

// ul,
// ol li {
//   list-style: none;
// }

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  color: #FFF;
  height: 100%;
  line-height: 1;
  background: #1E2538;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  @include adaptiv-value('padding-top', 70, 20, 0);
  flex: 1 1 auto;
}


.top {
  position: fixed;
  z-index: 11;
  @include adaptiv-value('right', 50, 20, 0);
  @include adaptiv-value('bottom', 40, 20, 0);
  @include adaptiv-value('width', 73, 33, 0);
  @include adaptiv-value('height', 73, 33, 0);
  border-radius: 10px;
  cursor: pointer;
  background: url('../../public/img/top.png') no-repeat center center/cover;
}

.test {
  //height: 100px;
}

.wrapper-admin {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
}

.wrapper-content-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

[class*="__container"] {
  max-width: 1430px;
  margin: 0px auto;
  padding: 0px 15px;
}