@import '../../ui/adaptiv.module.scss';

.video {}

.container {
   max-width: 1430px;
   margin: 0px auto;
   padding: 0px 15px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include adaptiv-value('padding-bottom', 80, 40, 0);
   @include adaptiv-value(' padding-top', 70, 30, 0);
}


.allVideo {
   @include adaptiv-value('font-size', 22, 18, 0);
   font-weight: 700;
   position: relative;
   right: 60px;
   color: #FFF;
}

.allVideo::after {
   content: '';
   position: absolute;
   right: -60px;
   top: 50%;
   transform: translateY(-50%);
   width: 26px;
   height: 15px;
   background-image: url('../../../public/img/video/Arrow.svg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

@media (max-width:$tablet) {
   .header {
      flex-direction: column;
      gap: 10px;
   }

   .allVideo {
      right: 10px;
   }

   .allVideo::after {
      right: -40px;
   }
}


.mainVideo {
   display: flex;
   flex-direction: column;
}

.footer {
   display: flex;
   order: 1;
   align-items: center;
   justify-content: space-between;
   padding-top: 25px;
   padding-bottom: 45px;
   width: 100%;
}

.footerLeft {
   display: flex;
   align-items: center;
}

.bigTitle {
   @include adaptiv-value('font-size', 45, 25, 0);
   font-weight: 900;
   padding-right: 34px;
}

@media (max-width:$tablet) {
   .footerLeft {
      flex-direction: column;
      align-items: center;
   }

   .bigTitle {
      padding-right: 0;
   }
}

.socials {
   display: flex;
   gap: 20px;
}

.socialLink {
   @include adaptiv-value('width', 25, 10, 0);
   @include adaptiv-value('height', 17, 8, 0);

   svg {
      width: 100%;
      height: 100%;
      fill: #6D7792;
   }
}

.socialLink:hover {
   svg {
      fill: #FFF;
   }
}


.grade {
   display: flex;
   gap: 10px;
}

.gradeLike,
.gradeDislike {
   display: flex;
   align-items: center;
   justify-content: center;
   @include adaptiv-value('width', 59, 30, 0);
   @include adaptiv-value('height', 59, 30, 0);
   @include adaptiv-value('border-radius', 10, 5, 0);
   background: #1B2133;
   position: relative;
   cursor: pointer;
   user-select: none;

   svg {
      @include adaptiv-value('width', 26, 13, 0);
      @include adaptiv-value('height', 26, 13, 0);
   }
}

.gradeLike:hover,
.gradeDislike:hover {
   background-color: #4c515e;
}

.likeCount,
.dislikeCount {
   position: absolute;
   bottom: -30px;
   @include adaptiv-value('font-size', 15, 9, 0);
   font-weight: 400;
}

.dislikeCount {}

.wrapperBig {
   @include adaptiv-value('height', 765, 235, 0);
}

.bigVideo {
   order: 0;
   width: 100%;
   // max-height: 765px;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.listWrapper {
   //height: 248px;  
   //transform: translate3d(-120px);
}

.listContainer {
   // display: flex;
   // gap: 10px;
   // overflow-x: auto;
   // width: 100%;
   // white-space: nowrap;
   // min-width: 100%;

}



// .list-container::-webkit-scrollbar {
//    width: 2px;
//    height: 7px;
// }

// .list-container::-webkit-scrollbar-track {
//    border-radius: 2px;
//    background: #1E2538;
// }

// .list-container::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    background: #3657CB;
// }





.itemWrapper {
   @include adaptiv-value('height', 247, 131, 0);
   // @include adaptiv-value('width', 340, 145, 0);
   position: relative;
}

.itemWrapper:hover::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(54, 87, 203, 0.65);
   border-radius: 10px;
   margin-top: 30px;
}

.smallVideo {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   margin-top: 30px;
   //position: relative;
}

.itemTitle {
   padding-top: 10px;
   padding-bottom: 20px;
   @include adaptiv-value('font-size', 20, 13, 0);
   font-weight: 900;
}

.mySwiperVideo {}

.swiper-pagination .swiper-pagination-progressbar-fill {
   display: inline-block;
   height: 7px;
   width: 100%;
   background-color: #3657CB;
}