@import '../../../index.scss';

.log-in {
   position: relative;

   &__header {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      user-select: none;
   }

   &__header::before {
      content: '';
      background: url('../../../img/header/arrow.svg') no-repeat center center /cover;
      width: 8px;
      height: 5px;
      transform: rotate(180deg);
   }

   .header-arrow::before {
      content: '';
      background: url('../../../img/header/arrow.svg') no-repeat center center /cover;
      width: 8px;
      height: 5px;
      transform: rotate(0deg);
   }

   &__photo-wrapper {
      width: 52px;
      height: 52px;
      position: relative;
   }

   &__photo-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: url('../../../img/header/cicle.svg') no-repeat center center /cover;
      width: 11px;
      height: 11px;
   }

   &__photo {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
   }

   &__menu {
      position: absolute;
      width: 134px;
      height: 143px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }

   &__link {
      color: #FFF;
      font-size: 13px;
      font-weight: 400;
   }

   &__link:hover {
      text-decoration: underline;
   }

   &__item:last-child &__link {
      color: #657199;
      font-size: 13px;
      font-weight: 500;
   }
}

.login {

   //form for enter in account
   &__background {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   &__button-model {
      cursor: pointer;
      @include adaptiv-value('font-size', 16, 11, 0);
      font-weight: 700;
      @include adaptiv-value('width', 138, 66, 0);
      @include adaptiv-value('height', 53, 27, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('  border-radius', 10, 5, 0);
      background: #3657CB;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
   }


   &__model {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 30%);
      height: 562px;
      max-width: 815px;
      width: 100%;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-model 0.5s;
   }

   @keyframes open-model {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 30%);
      }
   }

   &__close {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   &__model::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   &__login-form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 50%;
   }

   @media (max-width:$tablet) {
      &__login-form-wrapper {
         width: 70%;
      }
   }

   &__form-title {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      text-align: center;
      padding-top: 41px;
      padding-bottom: 30px;
   }

   &__form-login {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 25px;
   }

   &__form-password {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 25px;
   }

   &__form-enter {
      border-radius: 10px;
      background: #F2F60F;
      color: #151A26;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      height: 55px;
      margin-top: 4px;
   }

   &__form-registration {
      border-radius: 10px;
      background: #1E2538;
      color: #FFF;
      font-size: 17px;
      font-weight: 500;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      cursor: pointer;
   }

   &__restore {
      color: #3657CB;
      text-align: center;
      font-size: 17px;
      font-weight: 500;
      text-decoration-line: underline;
      margin-top: 16px;
      cursor: pointer;
   }

   &__socials {
      display: flex;
      gap: 8px;
      margin-top: 20px;
   }

   &__social-item {
      width: 41px;
      height: 41px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #1E2538;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
         fill: #FFF;
         width: 50%;
         height: 50%;
      }
   }

   &__social-item:hover {
      background: #3657CB;
   }

   //form for registration users

   &__background-registration {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   &__registration {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 5%);
      height: 835px;
      max-width: 815px;
      width: 100%;
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-rigistration 0.5s;
   }

   &__registration::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   @keyframes open-rigistration {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 5%);
      }
   }

   &__registration-close {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   &__registration-title {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      padding-top: 41px;
      padding-bottom: 34px;
   }

   &__form-registration-wrapper {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 50%;
   }


   &__registration-input {
      border-radius: 10px;
      background-color: #1E2538;
      height: 67px;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      padding-left: 26px;
   }

   @media (max-width:$tablet) {
      &__form-registration-wrapper {
         width: 70%;
      }

      &__registration-input {
         height: 47px;
      }
   }

   &__checkbox-wrapper {
      display: flex;
      flex-direction: column;
      gap: 19px;
      position: relative;
   }

   &__checkbox_1,
   &__checkbox_2 {
      --webkit-appearance: none;
      appearance: none;
      position: absolute;

   }

   &__checkbox-label_1,
   &__checkbox-label_2 {
      font-size: 15px;
      font-weight: 400;
      padding-left: 25px;
   }

   &__checkbox-label_1::before,
   &__checkbox-label_2::before {
      content: '';
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      border-radius: 2px;
      border: 1px solid #F2F60F;
      background: #F2F60F;
      position: absolute;
      left: 0;
      z-index: 1;
   }

   &__checkbox-label_1::before {
      top: 0;
   }

   &__checkbox-label_2::before {
      bottom: 0;
   }

   &__checkbox-label_1::after,
   &__checkbox-label_2::after {
      content: '';
      background-image: url('../../../img/header/check.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 10px;
      height: 9px;
      flex-shrink: 0;
      stroke-width: 2px;
      stroke: #151A26;
      z-index: 2;
      position: absolute;
      left: 3px;
      opacity: 0;
   }

   &__checkbox-label_1::after {
      top: 3px;
   }

   &__checkbox-label_2::after {
      bottom: 3px;
   }

   #ckeckbox_1:checked+&__checkbox-label_1::after {
      opacity: 1;
   }

   #ckeckbox_2:checked+&__checkbox-label_2::after {
      opacity: 1;
   }


   &__checkbox-link {
      color: #F2F60F;
      font-size: 15px;
      font-weight: 400;
      text-decoration-line: underline;
   }

   &__sent {
      border-radius: 10px;
      background: #F2F60F;
      height: 55px;
      color: #151A26;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
   }

   //login restore form one
   &__background-restore {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   &__restore-block {
      max-width: 815px;
      width: 100%;
      height: 405px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-restore 0.5s;
   }

   @keyframes open-restore {
      from {
         transform: translate(-50%, -100%);
      }

      to {
         transform: translate(-50%, 50%);
      }
   }

   &__restore-block::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   &__restore-close {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   &__restore-title {
      @include adaptiv-value('font-size', 40, 20, 0);
      font-weight: 800;
      padding-top: 41px;
      padding-bottom: 34px;
   }

   &__restore-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 53%;
   }

   @media (max-width:$tablet) {
      &__restore-form {
         width: 80%;
      }
   }

   &__restore-input {
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      padding-left: 26px;
   }

   &__send-get-wrapper {
      display: flex;
      @include adaptiv-value('gap', 13, 5, 0);
   }

   &__send {
      flex: 1 1 50%;
      height: 67px;
      border-radius: 10px;
      background: #3657CB;
      text-align: center;
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 600;
      color: #FFF;
   }

   &__get {
      flex: 1 1 50%;
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      height: 67px;
      text-align: center;
   }

   &__continue {
      margin-top: 4px;
      border-radius: 10px;
      background: #F2F60F;
      height: 55px;
      color: #151A26;
      font-size: 17px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
   }

   //login form for restore two, after continue
   &__background-restore-two {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: #12151f;
   }

   &__restore-block-two {
      max-width: 815px;
      width: 100%;
      height: 405px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 10px;
      background: #191E2E;
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: open-restore 0.5s;
   }

   &__restore-block-two::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../img/header/header_logo.png');
      background-position: center;
      background-size: cover;
      width: 125px;
      height: 45px;
   }

   &__restore-close-two {
      position: absolute;
      right: 24px;
      top: 21px;
      background-image: url('../../../img/header/close.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
   }

   &__restore-form-two {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 53%;
   }

   @media (max-width:$tablet) {
      &__restore-form-two {
         width: 80%;
      }
   }

   &__new-password {
      height: 67px;
      border-radius: 10px;
      background: #1E2538;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 400;
      padding-left: 26px;
   }

   &__done {
      height: 55px;
      border-radius: 10px;
      background: #F2F60F;
      color: #151A26;
      @include adaptiv-value('font-size', 17, 14, 0);
      font-weight: 600;
   }
}