@import '../ui/adaptiv.module.scss';

.profile {
   border-radius: 10px;
   background: #191E2E;
   @include adaptiv-value('padding-left', 50, 15, 0);
   @include adaptiv-value('padding-right', 50, 15, 0);
   @include adaptiv-value('padding-top', 30, 15, 0);
   @include adaptiv-value('padding-bottom', 70, 15, 0);
   width: 100%;

   .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value('padding-bottom', 30, 15, 0);
   }

   .title {
      @include adaptiv-value('font-size', 30, 20, 0);
      font-weight: 900;
   }

   .settings {
      color: #FFF;
      @include adaptiv-value('font-size', 14, 12, 0);
      font-weight: 500;
      border-radius: 10px;
      background: #1E2538;
      position: relative;
      @include adaptiv-value('padding', 20, 10, 0);
      @include adaptiv-value('padding-left', 55, 35, 0);
   }

   .settings::before {
      content: '';
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      background: url('../../public/img/personal/settings.svg') no-repeat center center /cover;
      @include adaptiv-value('width', 18, 15, 0);
      @include adaptiv-value('height', 18, 15, 0);
   }

   .content {
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 45, 20, 0);
      @include adaptiv-value('padding-bottom', 50, 25, 0);
   }

   @media (max-width:$tablet) {
      .content {
         flex-direction: column;
      }

      .data {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .text {
         text-align: center;
      }
   }

   .imageWrapper {
      @include adaptiv-value('width', 477, 203, 0);
      @include adaptiv-value('height', 477, 203, 0);
   }

   .image {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .name {
      @include adaptiv-value('font-size', 50, 25, 0);
      font-weight: 900;
   }

   .links {
      display: flex;
      gap: 10px;
      padding-top: 9px;
      padding-bottom: 17px;
   }

   .link {
      width: 26px;
      height: 26px;
      background: #1E2538;
      border: 1px solid #2B354E;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
         fill: rgba(255, 255, 255, 0.50);
         width: 14px;
         height: 14px;
      }
   }

   .link:hover {
      svg {
         fill: #FFF;
      }
   }

   .text {
      color: rgba(255, 255, 255, 0.80);
      @include adaptiv-value('font-size', 17, 13, 0);
      font-weight: 400;
      line-height: normal;
      max-width: 610px;
      @include adaptiv-value('padding-bottom', 20, 10, 0);
   }

   #profileData {
      th {
         text-align: left;
         color: rgba(255, 255, 255, 0.80);
         @include adaptiv-value('font-size', 18, 14, 0);
         font-weight: 600;
         padding-bottom: 15px;
         padding-right: 20px;
      }

      td {
         padding-bottom: 15px;
         color: #F2F60F;
         @include adaptiv-value('font-size', 18, 14, 0);
         font-weight: 400;
      }
   }

   .statistics {
      display: flex;
      justify-content: space-between;
      @include adaptiv-value('gap', 20, 10, 0);
      flex-wrap: wrap;
   }

   .statisticsBooks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
   }

   .count {
      color: #323A55;
      @include adaptiv-value('font-size', 35, 22, 0);
      font-weight: 500;
   }

   .nameStatistics {
      color: #323A55;
      @include adaptiv-value('font-size', 21, 12, 0);
      font-weight: 700;
   }
}