@import '../../index.scss';

.background {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   background: url('../../img/book-card/background.png')no-repeat center center/cover;
   width: 100%;
   height: 100%;
   opacity: 0.5;
}

.book-card {
   position: relative;
   z-index: 2;

   &__container {
      max-width: 1150px;
   }

   &__title {
      @include adaptiv-value('font-size', 65, 32, 0);
      font-weight: 900;
   }

   &__sub-title {
      @include adaptiv-value('font-size', 25, 20, 0);
      font-weight: 500;
   }

   &__rating {
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid #4BCB36;
      border-radius: 50%;
   }



   &__description {
      font-size: 15px;
      font-weight: 500;
      line-height: 156.5%;
   }

   &__wrapper-img {
      @include adaptiv-value('width', 395, 225, 0);
      @include adaptiv-value('height', 539, 300, 0);
   }

   &__img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
   }

   &__main-block {
      display: grid;
      @include adaptiv-value('column-gap', 50, 10, 0);
      row-gap: 20px;
      grid-template-areas:
         'image crumbs'
         'image title'
         'image subtitle'
         'image rating'
         'image description'
         'image links'
         'image .';
   }

   &__wraper-crumbs {
      grid-area: crumbs;
   }

   &__title {
      grid-area: title;
   }

   &__sub-title {
      grid-area: subtitle;
   }

   &__wrapper-img {
      grid-area: image;
   }

   &__rating {
      grid-area: rating;
   }

   &__description {
      grid-area: description;
   }

   &__wrapper-links {
      grid-area: links;
   }

   @media (max-width:$tablet) {
      &__main-block {
         display: grid;
         grid-template-areas:
            'crumbs crumbs'
            'title title'
            'subtitle subtitle'
            'image rating'
            'description description'
            'links links';
      }

      &__wraper-crumbs {
         grid-area: crumbs;
      }

      &__title {
         grid-area: title;
      }

      &__sub-title {
         grid-area: subtitle;
      }

      &__wrapper-img {
         grid-area: image;
      }

      &__rating {
         grid-area: rating;
      }

      &__description {
         grid-area: description;
      }

      &__wrapper-links {
         grid-area: links;
      }
   }

   &__wrapper-links {
      display: flex;
      gap: 35px;
      align-items: center;
   }

   @media (max-width:$tablet) {
      &__wrapper-links {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__read {
      border-radius: 10px;
      border: 2px solid #FFF;
   }

   &__read-link {
      color: #FFF;
      @include adaptiv-value('font-size', 18, 15, 0);
      font-weight: 700;
      display: inline-block;
      width: 260px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
   }

   &__read-link:hover {
      background-color: #54618a;
      border-radius: 10px;
      color: black;
   }

   &__read-link::before {
      content: '';
      position: absolute;
      left: 25%;
      background: url('../../img/book-card/play.svg') no-repeat center center/cover;
      width: 20px;
      height: 20px;
      z-index: 2;
   }

   &__socials {
      display: flex;
      gap: 20px;
   }

   &__social-link {
      svg {
         fill: rgba(255, 255, 255, 0.50);
         width: 20px;
         height: 20px;
      }

      svg:hover {
         fill: #FFF;
      }
   }

   &__grade {
      display: flex;
      gap: 10px;
      padding-top: 20px;
      @include adaptiv-value('padding-bottom', 45, 35, 0);
   }

   &__like,
   &__dislike,
   &__favorites {
      height: 59px;
      width: 59px;
      border-radius: 10px;
      background: #1B2133;
      position: relative;
      cursor: pointer;
   }

   &__like:hover,
   &__dislike:hover,
   &__favorites:hover {
      background: #54618a;
   }

   &__like::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../../img/book-card/like.svg') no-repeat center center /cover;
      width: 26px;
      height: 26px;
   }

   &__dislike::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../../img/book-card/dislike.svg') no-repeat center center /cover;
      width: 26px;
      height: 26px;
   }

   &__favorites-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
   }

   &__favorites::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../../img/book-card/heart.svg') no-repeat center center /cover;
      width: 24px;
      height: 24px;
   }

   #table {
      margin: 0 auto;

      th {
         text-align: left;
         color: rgba(255, 255, 255, 0.90);
         @include adaptiv-value('font-size', 18, 12, 0);
         font-weight: 600;
         @include adaptiv-value('padding-right', 40, 20, 0);
         padding-bottom: 20px;
      }

      td {
         color: #F2F60F;
         text-align: left;
         @include adaptiv-value('font-size', 18, 12, 0);
         font-weight: 400;
         text-decoration-line: underline;
         padding-bottom: 20px;
         @include adaptiv-value('padding-right', 40, 20, 0);
      }
   }
}