@import '../../index.scss';


.my-swiper {

   .swiper-pagination {
      @include adaptiv-value('padding-bottom', 55, 30, 0);
      user-select: none;
      display: flex;
      justify-content: center;
   }

   .swiper-button-prev {
      visibility: hidden;
      position: relative;
      --swiper-navigation-top-offset: 52px;
      --swiper-navigation-sides-offset: 45%;
   }


   .swiper-button-prev::before {
      content: '';
      position: absolute;
      user-select: none;
      visibility: visible;
      background: url('../../img/video/prev.svg') no-repeat center center/cover;
      width: 40px;
      height: 20px;
   }

   .swiper-button-next {
      visibility: hidden;
      position: relative;
      --swiper-navigation-top-offset: 30px;
      --swiper-navigation-sides-offset: -53%;
   }

   .swiper-button-next::after {
      content: '';
      position: absolute;
      user-select: none;
      visibility: visible;
      background: url('../../img/video/prev.svg') no-repeat center center/cover;
      transform: rotate(-180deg);
      width: 40px;
      height: 20px;

   }

   @media (max-width:1000px) {
      .swiper-button-prev {
         --swiper-navigation-sides-offset: 40%;
      }

      .swiper-button-next {
         --swiper-navigation-sides-offset: -56%;
      }
   }

   @media (max-width:600px) {
      .swiper-button-prev {
         --swiper-navigation-sides-offset: 30%;
      }

      .swiper-button-next {
         --swiper-navigation-sides-offset: -61%;
      }
   }
}