@import '../adaptiv.module.scss';


.filter {
   position: absolute;
   right: 0;
   top: 0;
   width: 190px;
   max-height: 200px;
   height: 100%;
   border-radius: 10px;
   background: #1B2133;
   padding: 20px;
   overflow: hidden;


   .valueWrapper {
      height: 100%;
      overflow: auto;
   }

   .valueWrapper::-webkit-scrollbar {
      width: 2px;
   }

   .valueWrapper::-webkit-scrollbar-track {
      border-radius: 5px;
      background: black;
   }

   .valueWrapper::-webkit-scrollbar-thumb {
      background: #3657CB;
   }

   .choose {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 15px;
      padding-right: 20px;
      position: relative;
      cursor: pointer;
      user-select: none;
   }

   .choose::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
      right: 0;
      background: url('../../../public/img/library/polygon.svg') no-repeat center center / cover;
      width: 11px;
      height: 7px;
   }

   .chooseActive::after {
      content: '';
      transform: translateY(-50%) rotate(0deg);
   }

   .checkboxLabel {
      display: flex;
      gap: 10px;
      user-select: none;
   }

   .value {
      display: flex;
      flex-direction: column;
      gap: 10px;
      white-space: nowrap;
      padding-bottom: 30px;
   }

   .text {
      text-overflow: ellipsis;
      overflow: hidden;
   }

}

@media (max-width:$laptop) {
   .filter {
      position: static;
      height: 200px;
      margin-top: 20px;

      .valueWrapper {
         height: 100%;
      }
   }
}

.filter__close {
   height: 52px;
}