@import '../adaptiv.module.scss';

.quote {
   border-radius: 10px;
   background: #191E2E;
   position: relative;
   padding-top: 60px;
   @include adaptiv-value('padding-bottom', 40, 25, 0);
   @include adaptiv-value('padding-left', 55, 25, 0);
   display: flex;
   flex-direction: column;
   gap: 15px;

   .name {
      @include adaptiv-value('font-size', 18, 16, 0);
      font-weight: 600;
      order: 1;
   }

   .text {
      @include adaptiv-value('font-size', 17, 15, 0);
      font-style: italic;
      font-weight: 400;
      line-height: 1.2;
      order: 0;
   }
}

.quote::before {
   content: '';
   position: absolute;
   top: -10px;
   left: 50px;
   background: url('../../../public/img/book-card/paws.svg') no-repeat center center/cover;
   @include adaptiv-value('width', 200, 130, 0);
   @include adaptiv-value('height', 50, 40, 0);
}