@import '../ui/adaptiv.module.scss';

.container {
   max-width: 1430px;
   margin: 0px auto;
   padding: 0px 15px;
}

.quotesBlock {
   @include adaptiv-value('padding-top', 70, 30, 0);
   display: flex;
   flex-direction: column;
   @include adaptiv-value('gap', 45, 30, 0);

   .QBtitle {
      @include adaptiv-value('padding-bottom', 50, 35, 0);
   }
}

.quote {
   border-radius: 10px;
   background: #191E2E;
   position: relative;
   padding-top: 60px;
   @include adaptiv-value('padding-bottom', 40, 25, 0);
   @include adaptiv-value('padding-left', 55, 25, 0);
   display: flex;
   flex-direction: column;
   gap: 15px;

   .name {
      @include adaptiv-value('font-size', 18, 16, 0);
      font-weight: 600;
      order: 1;
   }

   .text {
      @include adaptiv-value('font-size', 17, 15, 0);
      font-style: italic;
      font-weight: 400;
      line-height: 1.2;
      order: 0;
   }
}

.quote::before {
   content: '';
   position: absolute;
   top: -10px;
   left: 50px;
   background: url('../../public/img/book-card/paws.svg') no-repeat center center/cover;
   @include adaptiv-value('width', 200, 130, 0);
   @include adaptiv-value('height', 50, 40, 0);
}

.similerBooks {
   @include adaptiv-value('padding-top', 80, 40, 0);

   .SBtitle {
      text-align: center;
      @include adaptiv-value('padding-bottom', 65, 20, 0);
   }
}

.bookReviews {
   @include adaptiv-value('padding-top', 80, 40, 0);

   .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 45px;
   }

   @media (max-width:$tablet) {
      .titleWrapper {
         flex-direction: column;
         gap: 20px;
      }
   }

   .add {
      border-radius: 10px;
      background: #3657CB;
      @include adaptiv-value('font-size', 16, 12, 0);
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('width', 214, 154, 0);
      @include adaptiv-value('height', 63, 51, 0);
      cursor: pointer;
   }

   .header {
      display: flex;
      flex-wrap: wrap;
      @include adaptiv-value('gap', 17, 12, 0);
      @include adaptiv-value('padding-bottom', 40, 20, 0);
   }

   .pick {
      @include adaptiv-value('font-size', 20, 15, 0);
      font-weight: 600;
      border-radius: 10px;
      background: #1B2133;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 20px;
      @include adaptiv-value('padding-left', 20, 10, 0);
      @include adaptiv-value('padding-top', 15, 10, 0);
      @include adaptiv-value('padding-bottom', 15, 10, 0);
      @include adaptiv-value('padding-right', 20, 10, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('gap', 40, 20, 0);
      cursor: pointer;
   }

   .pick-count {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .pick-count_color_blue {
      background: rgba(54, 87, 203, 0.30);
      color: #3657CB;
   }

   .pick-count_color_green {
      background: rgba(87, 208, 67, 0.38);
      color: #57D043;
   }

   .pick-count_color_red {
      background: #642C36;
      color: #E04141;
   }

   .pick-count_color_yellow {
      color: #FFF065;
      background: rgba(255, 240, 101, 0.30);
   }

   .pick-count_color_brown {
      color: #57D043;
      background: #326339;
   }

   .pagination {
      display: flex;
      gap: 18px;
      @include adaptiv-value('padding-top', 70, 50, 0);
      @include adaptiv-value('padding-bottom', 70, 50, 0);
      justify-content: center;
   }

   @media (max-width:$tablet) {
      .pagination {
         display: none;
      }
   }

   .point {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #1B2133;
   }

   .point_active {
      background-color: #3657CB;
   }



}

.writeComment {
   background-color: #191E2E;
   border: 5px solid #3657CB;
   border-radius: 10px;
   @include adaptiv-value('padding', 50, 20, 0);
   margin-top: 35px;

   .person {
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 26, 20, 0);
      @include adaptiv-value('padding-bottom', 42, 26, 0);
   }

   .avatar {
      @include adaptiv-value('width', 115, 94, 0);
      @include adaptiv-value('height', 115, 94, 0);
      border-radius: 50%;
   }

   .img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
   }


   .personName {
      @include adaptiv-value('font-size', 30, 25, 0);
      font-weight: 700;
      padding-bottom: 10px;
   }

   .personLink {
      @include adaptiv-value('font-size', 18, 15, 0);
      font-weight: 500;
      text-decoration: none;
      color: #FFF;
   }

   .formHeader {
      display: flex;
      gap: 15px;
   }


   .inputTitle {
      border-radius: 10px;
      background: #1E2538;
      height: 71px;
      color: rgba(255, 255, 255, 0.60);
      @include adaptiv-value('font-size', 20, 17, 0);
      font-weight: 400;
      flex: 1 1 70%;
      padding-left: 23px;
   }

   .gradePick {
      @include adaptiv-value('font-size', 20, 17, 0);
      font-weight: 600;
      border-radius: 10px;
      background: #1B2133;
      height: 71px;
      color: #FFF;
      cursor: pointer;
      flex: 1 1 30%;
      @include adaptiv-value('padding-left', 30, 23, 0);
   }

   @media (max-width:1200px) {
      .formHeader {
         flex-direction: column;
      }

      .inputTitle {
         flex: none;
      }

      .gradePick {
         flex: none;
      }
   }


   .kindText {
      display: flex;
      gap: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .writeComment_butStyle {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      background: #1B2133;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
   }

   #italics {
      font-style: italic;
   }

   #emphasized {
      text-decoration: underline;
   }

   #writeComment {
      border-radius: 10px;
      background: #1E2538;
      width: 100%;
      height: 344px;
      color: #FFF;
      font-size: 20px;
      font-weight: 400;
      line-height: 166.5%;
      padding: 20px;
      resize: none;
   }

   .formFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
   }

   @media (max-width:1200px) {
      .formFooter {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 28px;
      }
   }

   .preView {
      border-radius: 10px;
      border: 2px solid #FFF;
      background-color: #191E2E;
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      padding: 20px 28px;
   }

   .sent {
      color: #151A26;
      font-size: 18px;
      font-weight: 700;
      border-radius: 10px;
      background: #F2F60F;
      padding: 21px 47px;
   }

   .buttons {
      display: flex;
      gap: 20px;
   }

   @media (max-width:$tablet) {
      .buttons {
         width: 100%;
         flex-direction: column;
         align-items: center;
      }
   }

   .checkboxWrapper {
      position: relative;
      top: 0;
      user-select: none;
   }

   .checkbox {
      --webkit-appearance: none;
      appearance: none;
      position: absolute;
   }

   .checkboxLabel {
      font-size: 15px;
      font-weight: 400;
      padding-left: 25px;
   }



   .checkboxLabel::before {
      content: '';
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      border-radius: 2px;
      border: 1px solid #F2F60F;
      background: #F2F60F;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
   }

   .checkboxLabel::after {
      content: '';
      background-image: url('../../public/img/header/check.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 10px;
      height: 9px;
      flex-shrink: 0;
      stroke-width: 2px;
      stroke: #151A26;
      z-index: 2;
      position: absolute;
      left: 3px;
      opacity: 0;
   }

   .checkboxLabel::after {
      top: 3px;
   }


   #writeCkeckbox:checked+.checkboxLabel::after {
      opacity: 1;
   }

   .checkboxLink {
      color: #F2F60F;
      font-size: 15px;
      font-weight: 400;
      text-decoration-line: underline;
      margin-left: 10px;
   }


   @media (max-width:500px) {
      .form {
         width: 100%;
      }

      .checkboxWrapper {
         position: relative;
         left: 20px;
         display: flex;
         flex-direction: column;
         gap: 20px;
      }

      .checkboxLabel::before {
         top: 0px;
      }
   }
}