@import '../ui/adaptiv.module.scss';

.container {
   max-width: 1430px;
   margin: 0px auto;
   padding: 0px 15px;
}

.library {
   position: relative;


   .title {
      @include adaptiv-value('font-size', 65, 32, 0);
      font-weight: 900;
      line-height: 1.09;
   }

   .text {
      @include adaptiv-value('font-size', 18, 13, 0);
      font-weight: 500;
      line-height: 168.7%;
      max-width: 950px;
   }

   .booksWrapper {
      @include adaptiv-value('padding-top', 40, 20, 0);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 40px;
   }

   @media (max-width:$tablet) {
      .booksWrapper {
         grid-template-columns: repeat(3, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }

   @media (max-width:425px) {
      .booksWrapper {
         grid-template-columns: repeat(2, 1fr);
         column-gap: 10px;
         row-gap: 20px;
      }
   }


}