@import '../../index.scss';



.popular {
   position: relative;
   z-index: 1;

   &__header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiv-value('padding-bottom', 70, 20, 0);
   }

   &__line {
      width: 51.5px;
      height: 2px;
      background-color: #FFF;
   }

   //section filter
   &__filter-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5px;
      @include adaptiv-value('column-gap', 30, 15, 0);
   }

   &__filter-link.section_filter.popular__filter_pick {
      color: #FFF;
   }

   &__films-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      row-gap: 25px;
   }

   @media (min-width: 769px) {
      &__films-container .film-poster:nth-child(n+9) {
         display: none;
      }
   }

   @media (max-width: $tablet) {
      &__films-container .film-poster:nth-child(n+10) {
         display: none;
      }
   }

   @media (max-width: 425px) {
      &__films-container .film-poster:nth-child(n+7) {
         display: none;
      }
   }

   &__wrapper-link {
      display: flex;
      justify-content: center;
      padding-top: 50px;
   }

   &__link {
      background: transparent;
      @include adaptiv-value('width', 200, 160, 0);
      @include adaptiv-value('height', 71, 53, 0);
      flex-shrink: 0;
      border-radius: 10px;
      border: 2px solid #FFF;
      @include adaptiv-value('font-size', 18, 16, 0);
      font-weight: 700;
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__link:hover {
      background-color: #4c515e;
   }

   @media (max-width:996px) {
      &__line {
         display: none;
      }

      &__header-wrapper {
         flex-direction: column;
         align-items: start;
         gap: 15px;
      }
   }

   @media (max-width:$tablet) {
      &__line {
         display: none;
      }

      &__header-wrapper {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
      }

      &__filter {
         display: none;
      }

      &__films-container {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   @media (max-width:425px) {
      &__films-container {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

.popular::before {
   content: '';
   position: absolute;
   top: -18%;
   left: 0;
   z-index: -1;
   background: url('../../img/home2-background.webp') no-repeat center center/cover;
   opacity: 0.1;
   width: 100%;
   height: 100%;
}


.burger {
   display: none;
}

@media (max-width:$tablet) {
   .body-burger {
      display: block;
   }

   .burger {
      display: block;
      width: 14px;
      height: 12px;
      position: relative;
      cursor: pointer;

      .burger-line,
      &::before,
      &::after {
         content: '';
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
         background-color: #fff;
      }

      .burger-line {
         top: 50%;
         transform: translateY(-50%);
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }
   }
}