@import '../../index.scss';

.list-books {
   width: 100%;
   border-radius: 10px;
   background: #191E2E;
   @include adaptiv-value('padding', 50, 20, 0);

   &__title {
      @include adaptiv-value('font-size', 30, 20, 0);
      font-weight: 900;
   }

   &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //@include adaptiv-value('padding-bottom', 30, 20, 0);
   }

   @media (max-width:$tablet) {
      &__head {
         flex-direction: column;
         align-items: flex-start;
         gap: 9px;
      }
   }

   &__filter-list {
      display: flex;
      @include adaptiv-value('gap', 30, 15, 0);
      flex-wrap: wrap;
   }

   &__filter-link.section_filter.list-books__filter_pick {
      @include adaptiv-value('font-size', 18, 13, 0);
      font-weight: 700;
      color: #FFF;
   }

   &__book {
      display: flex;
      @include adaptiv-value('gap', 28, 10, 0);
      justify-content: space-between;
      border-bottom: 1px solid #3B486B;
      @include adaptiv-value('padding-top', 28, 14, 0);
      @include adaptiv-value('padding-bottom', 30, 15, 0);
   }

   &__book-content {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   @media (max-width:$tablet) {
      &__book-content {
         flex-direction: column;
         gap: 15px;
         align-items: flex-start;
         justify-content: center;

      }
   }


   &__left-content {
      display: flex;
      flex-direction: column;
      gap: 9px;

   }

   &__right-block {
      display: flex;
      align-items: center;
      @include adaptiv-value('gap', 50, 10, 0);
   }

   @media (max-width:425px) {
      &__right-block {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__book-image-wrapper {
      @include adaptiv-value('width', 146, 102, 0);
      @include adaptiv-value('height', 208, 144, 0);
      flex-shrink: 0;
   }

   &__book-image {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
   }

   &__name {
      @include adaptiv-value('font-size', 25, 17, 0);
      font-weight: 700;
   }

   &__surname {
      color: #54689E;
      @include adaptiv-value('font-size', 17, 13, 0);
      font-weight: 500;
   }

   &__genre {
      color: #F2F60F;
      @include adaptiv-value('font-size', 15, 13, 0);
      font-weight: 400;
   }


   &__link {
      display: inline-block;
      @include adaptiv-value('padding-left', 40, 20, 0);
      @include adaptiv-value('padding-right', 40, 20, 0);
      @include adaptiv-value('padding-bottom', 20, 10, 0);
      @include adaptiv-value('padding-top', 20, 10, 0);
      color: #FFF;
      @include adaptiv-value('font-size', 18, 13, 0);
      font-weight: 700;
      border-radius: 10px;
      background: #3657CB;
      box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.40);
      white-space: nowrap;
   }
}