@import '../adaptiv.module.scss';

.footer {
   @include adaptiv-value('padding-top', 60, 25, 0);
   @include adaptiv-value('padding-bottom', 50, 30, 0);
   background: #151A26;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   @include adaptiv-value('gap', 40, 25, 0);
}

.header {
   display: flex;
   @include adaptiv-value('gap', 30, 20, 0);
}

.headerLink {
   @include adaptiv-value('height', 25, 15, 0);
   @include adaptiv-value('width', 25, 15, 0);

   svg {
      fill: #3C4767;
   }
}

.headerLink:hover {
   svg {
      fill: #FFF;
   }
}

.list {
   display: flex;
   @include adaptiv-value('gap', 30, 15, 0);
}

@media (max-width:$tablet) {
   .list {
      flex-direction: column;
      text-align: center;
   }
}

.item {
   position: relative;
}

.item::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -5px;
}

.item:hover::after {
   width: 100%;
   height: 3px;
   background-color: #fff;
   animation: menu-hover 0.5s;
}


.link {
   color: #FFF;
   @include adaptiv-value('font-size', 17, 13, 0);
   font-weight: 700;
}



.footer {
   text-align: center;
}

.law {
   color: rgba(227, 230, 240, 0.72);
   @include adaptiv-value('font-size', 15, 13, 0);
   font-weight: 400;
   @include adaptiv-value('padding-bottom', 30, 5, 0);
}

.footerLink {
   color: rgba(227, 230, 240, 0.72);
   text-align: center;
   @include adaptiv-value('font-size', 15, 13, 0);
   font-weight: 400;
   text-decoration-line: underline;
}